<div class="py-3">
    <div class="container-fluid">
        {% if params.action == 'look' %}
            {% set database = methods.get_database(params.system_name) %}
            {% if database %}

            {% else %}
                {% set alert = 1 %}
                <div class="alert alert-danger" role="alert">
                    The database {{ params.system_name }} does not exist
                </div>
            {% endif %}
        {% elif params.action == 'edit' %}
            {% set database = methods.get_database(params.system_name) %}
            {% if database %}
                <form>
                    <div class="form-group">
                        <label for="editSystemName">System Name</label>
                        <input type="text" class="form-control mb-2" id="editSystemName"
                               value="{{ database._system_name }}"
                               readonly>
                    </div>
                    <div class="form-group">
                        <label for="editName">Database Name</label>
                        <input type="text" class="form-control mb-2" id="editName"
                               placeholder="Name" value="{{ database._name }}">
                    </div>
                    <div class="form-group">
                        <label for="editDescription">Database Name</label>
                        <textarea class="form-control mb-2" id="editDescription"
                                  placeholder="Description">{{ database._description }}</textarea>
                    </div>
                </form>
            {% else %}
                <div class="alert alert-danger" role="alert">
                    The database {{ params.system_name }} does not exist
                </div>
            {% endif %}
        {% elif params.action == 'create' %}
            <form>
                <div class="form-group">
                    <label for="newSystemName">System Name</label>
                    <input type="text" class="form-control mb-2" id="newSystemName"
                           readonly>
                </div>
                <div class="form-group">
                    <label for="newName">Database Name</label>
                    <input type="text" class="form-control mb-2" id="newName"
                           placeholder="Name">
                </div>
                <div class="form-group">
                    <label for="newDescription">Database Name</label>
                    <textarea class="form-control mb-2" id="description"
                              placeholder="Description"></textarea>
                </div>
                <button type="submit" class="btn btn-primary"></button>
            </form>
        {% elif params.action == 'delete' %}
            {% set database = methods.get_database(params.system_name) %}
            {% if database %}
                {{ database }}
            {% else %}
                <div class="alert alert-danger" role="alert">
                    The database {{ params.system_name }} does not exist
                </div>
            {% endif %}
        {% else %}
            <div class="alert alert-danger" role="alert">
                Incorrect action
            </div>
        {% endif %}
    </div>
</div>

<script>
    function generateCleanName(name) {
        var cleanName = name.replace("'", " ");
        {#cleanName = transl(cleanName);#}
        cleanName = cleanName.replace(/[^0-9a-zA-Z ]/g, "");
        cleanName = cleanName.replace(/\s+/g, " ");
        return cleanName;
    }
    function generateSystemName(cleanName) {
        var systemName = cleanName.toLowerCase();
        systemName = systemName.replace(/\s/g, "_");
        return systemName;
    }
    $(document).ready(function () {
        $("#newName").keyup(function () {
            var value = $(this).val();
            var cleanName = generateCleanName(value);
            $(this).val(cleanName);
            $("#newSystemName").val(generateSystemName(cleanName));
        });
    });
</script>