altgraph==0.16.1
certifi==2018.4.16
chardet==3.0.4
click==6.7
coverage==4.5.1
Flask==0.12.2
freeze==1.0.10
future==0.16.0
h5py==2.8.0
idna==2.7
itsdangerous==0.24
Jinja2==2.10
macholib==1.10
MarkupSafe==1.0
numexpr==2.6.8
numpy==1.15.4
pandas==0.23.4
pefile==2018.8.8
PyInstaller==3.3.1
pypiwin32==223
python-dateutil==2.7.5
pytz==2018.7
pywin32==223
requests==2.19.1
six==1.11.0
tables==3.4.4
Unidecode==1.0.22
urllib3==1.23
Werkzeug==0.14.1
