<div class="py-3">
    <div class="container-fluid">
        <div class="row">
            <div class="col-auto">
                <a href="database/create" class="btn btn-primary mb-2">Create Database</a>
            </div>
        </div>
        {% if data.databases|length == 0 %}
            <div class="alert alert-danger" role="alert">
                No database yet
            </div>
        {% else %}
            <div class="row">
                {% for bdd in data.databases %}
                    <div class="col-md-4">
                        <a href="database/look/{{ bdd._system_name }}">
                            <div class="card mb-4 box-shadow">
                                <div class="row">
                                    <div class="col">
                                        <div class="card-body">
                                            <h5 class="card-title">{{ bdd._name }}</h5>
                                            <p class="card-text">{{ bdd._description }}</p>
                                        </div>
                                    </div>
                                    <div class="col ml-auto">
                                        <div class="card-body text-right">
                                            <a href="database/edit/{{ bdd._system_name }}"
                                               class="btn btn-primary">Edit</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </a>
                    </div>
                {% endfor %}
            </div>
        {% endif %}
    </div>
</div>