<div class="footer {{ 'bg-dark' if data.night_mode else 'bg-light' }}">
    <div class="container {{ 'bg-dark' if data.night_mode else 'bg-light' }}">
        <span class="text-muted">ManoucheQL - 2018</span>
    </div>
</div>
