<div class="py-3">
    <div class="container-fluid">
        {% if params.system_name %}
            {% set database = methods.get_database(params.system_name) %}
            {% if not database %}
                <div class="alert alert-danger" role="alert">
                    The database {{ params.system_name }} does not exist
                </div>
            {% else %}
                {{ database }}
            {% endif %}
        {% else %}
            <div class="row">
                <div class="px-3">
                    <form>
                        <div class="form-row">
                            <div class="col-auto">
                                <label class="sr-only" for="newDatabaseName">Database Name</label>
                                <input type="text" class="form-control mb-2" id="newDatabaseName"
                                       placeholder="Database Name">
                            </div>
                            <div class="col-auto">
                                <button type="submit" class="btn btn-primary mb-2">Create</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
            {% if data.databases|length == 0 %}
                <div class="alert alert-danger" role="alert">
                    No database yet
                </div>
            {% else %}
                <div class="row">
                    {% for bdd in data.databases %}
                        <div class="col-md-4">
                            <a href="database/{{ bdd._system_name }}">
                                <div class="card mb-4 box-shadow">
                                    <div class="card-body">
                                        <h5 class="card-title">{{ bdd._name }}</h5>
                                        <p class="card-text">{{ bdd._description }}</p>
                                    </div>
                                </div>
                            </a>
                        </div>
                    {% endfor %}
                </div>
            {% endif %}
        {% endif %}
    </div>
</div>