<div class="navbar navbar-expand-lg {{ 'navbar-dark bg-dark' if data.night_mode else 'navbar-light bg-light' }}">
    <a class="navbar-brand" href="/client">{{ data.navbar_title }}</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <input id="night_mode" type="checkbox" data-toggle="toggle" data-on="Dark"
           data-off="Light" {{ 'checked' if data.night_mode else '' }}>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            {% for item in data.main_menu %}
                <li class="nav-item active">
                    <a class="nav-link" href="/client{{ item.path }}">{{ item.name }}</a>
                </li>
            {% endfor %}
        </ul>
    </div>
</div>

<script>
    $(function () {
        $('#night_mode')
            .change(function () {
                $.ajax({
                    type: "GET",
                    url: "http://localhost:8080/client/api/switch_night_mode",
                    success: function () {
                        location.reload();
                    }
                })
            });
    });
</script>