<div class="py-3">
    <div class="container-fluid">
        {% if params.system_name %}
            {% set database = methods.get_database(params.system_name) %}
            {% if not database %}
                <div class="alert alert-danger" role="alert">
                    The database {{ params.system_name }} does not exist
                </div>
            {% else %}
                {{ database }}
            {% endif %}
        {% else %}
            <div class="alert alert-danger" role="alert">
                Incorrect database system_name
            </div>
        {% endif %}
    </div>
</div>